<div id="<%= dom_id voucher %>">
  <p>
    <strong>Business name:</strong>
    <%= voucher.business_name %>
  </p>

  <p>
    <strong>Business identifier:</strong>
    <%= voucher.business_identifier %>
  </p>

  <p>
    <strong>Timbrado:</strong>
    <%= voucher.timbrado %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= voucher.number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= voucher.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= voucher.total_amount %>
  </p>

</div>
